#  Build & Package Files
target/
*.jar
*.war
*.ear


# IDE Specific Files
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
.metadata/


# Dependency Folders (if frontend exists)
node_modules/

#  Logs, Errors, and Temp Files
logs/
*.log
hs_err_pid*

# System Files
.DS_Store
Thumbs.db

#  Environment and Credentials
.env


# Maven Wrapper
.mvn/
!mvnw
!mvnw.cmd